Source: python-socks-proxy
Section: test
Priority: optional
Maintainer: Faraz <>
Build-Depends: debhelper (>=9.0.0),
               dh-systemd (>= 1.5)
Standards-Version: 4.0.0

Package: python-socks-proxy
Architecture: any
Description: SOCK5 proxy for boundary nodes.
